/* ================ Vars ================ */

:root {
	--shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	--color-text: #2f4f4f;
}

/* ================ Reset browser defaults ================ */

html,
body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
}

* {
	box-sizing: border-box;
}

/* ================ Overwrite browser defaults ================ */

body {
	position: relative;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-size: 16px;
	color: var(--color-text);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);

	background-image: url(../assets/Image_index_crop_k.jpg);
	background-size: cover;
	background-position: 28% 56%;
	background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
	body {
		font-size: 17px;
	}
}

@media screen and (min-width: 1024px) {
	body {
		font-size: 18px;
	}
}

body,
main {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}

main {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

footer {
	margin: 1rem;
	text-align: center;
	font-size: 0.8rem;
	color: white;
}

p {
	margin: 1rem 0;
	line-height: 1.4rem;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

a {
	color: #ffffff;
	text-decoration: none;
}

/* ================ Utility classes ================ */

.text-center {
	text-align: center;
}

.space-top {
	padding-top: 1rem;
}

/* ================ Components ================ */

/* price-list */

.price-list {
	padding: 0;
	list-style: none;
	margin: auto;
	text-align: center;
}
.price-list li:not(:first-child) {
	margin-top: 1rem;
}

/* address-link */

.address-link {
	color: var(--color-text);
	display: block;
	text-decoration: underline;
}
.address-link:not(:first-child) {
	margin-top: 1rem;
}

/* list-full-width */

.list-full-width {
	column-gap: 2rem;
}

@media screen and (min-width: 620px) {
	.list-full-width {
		column-count: 2;
	}
}

@media screen and (min-width: 900px) {
	.list-full-width {
		column-count: 3;
	}
}

/* paper */

.paper {
	--color-paper: rgba(255, 255, 255, 0.8);
	background: var(--color-paper);
	box-shadow: 0 0 0.5rem 0.5rem var(--color-paper);

	margin: 6rem 1rem 1rem;
	padding: 1rem;
}

@media screen and (min-width: 400px) {
	.paper {
		margin: 6rem 2rem 2rem;
		padding: 2rem;
	}
}

@media screen and (min-width: 768px) {
	.paper {
		margin: 8rem 4rem 3rem;
		padding: 3rem;
	}
}

@media screen and (min-width: 1024px) {
	.paper {
		margin: 10rem auto 4rem;
		max-width: 900px;
		padding: 4rem;
	}
}

.paper__heading {
	margin: 2rem 0;
}
.paper__heading:first-child {
	margin: 0 0 2rem 0;
}

.paper__img {
	margin: 2rem auto;
	display: block;
	width: 550px;
	max-width: 100%;
}
.paper__img--small {
	width: 250px;
	margin: 1rem auto;
}
@media screen and (min-width: 768px) {
	.paper__img {
		margin: 3rem auto;
	}
	.paper__img--small {
		margin: 1.5rem auto;
	}
}
