.home-page {
	color: white;
	/*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/

	background-image: url(../assets/Image_index_crop_k.jpg);
	background-size: cover;
	background-position: 34% 38%;
	background-repeat: no-repeat;
	min-height: 100%;
}

.home-page header {
	background-color: transparent;
}

.home-page header .call {
	font-weight: bold;
	font-size: 1.2rem;
	display: flex;
	justify-content: right;
	padding: 1rem 1.6rem;
}

.home-page .hero {
	flex: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.home-page .hero .title {
	margin-bottom: 35vh;
	/* font-size: 4rem; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0 0.4rem;
}

/* TODO change font */
.home-page .hero .title .title__left {
	font-weight: normal;
	font-style: ;
	/*text-transform: uppercase;*/
}

.home-page .hero .title .title__right {
	font-style: italic;
	transform: translateY(80%);
	z-index: -2;
}

.home-page .hero .subtitle {
	margin-bottom: 2vh;
	font-size: 1.4rem;
	font-weight: normal;
	/* position: relative;
	padding: 1rem 2rem; */
}

/* .home-page .hero .subtitle::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
	transform: skew(-50deg, 3deg);
	border-radius: 40%;
	z-index: -1;
} */

@media screen and (max-width: 400px) {
	.home-page header .call {
		font-size: 1.1rem;
		justify-content: right;
		padding-right: 2.6rem;
	}		
	.home-page .hero .title .title__separator {
		display: none;
	}
	.home-page .hero .title .title__right {
		transform: none;
		font-weight: bold;
	}
	.home-page .hero .title {
		margin-bottom: 10vh;
		font-size: 4rem;
	}		
}

@media screen and (min-width: 768px) {
	.home-page header .call {
		font-size: 1.4rem;
	}		
	.home-page .hero .title {
		font-size: 8rem;
	}		
	.home-page .hero .title .title__right {
		font-weight: bold;
	}
	.home-page .hero .subtitle {
		font-size: 3rem;
	}
}

@media screen and (min-width: 1024px) {
	.home-page header .call {
		font-size: 2rem;
		padding: 1.0rem 8rem;
	}
	.home-page .hero .title {
		margin-bottom: 22vh;
		font-size: 8rem;
	}
	.home-page .hero .subtitle {
		margin-bottom: 16vh;
		font-size: 3rem;
	}
}

.home-page footer {
	color: white;
}
